"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Space_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Spacev2_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Spacev3_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/GiveMeSomeSpace_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Temp/StagingArea/GiveMeSomeSpace_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Space_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Spacev2_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Give[[:space:]]Me[[:space:]]Some[[:space:]]Spacev3_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/GiveMeSomeSpace_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored
"GiveMeSomeSpace/Temp/StagingArea/GiveMeSomeSpace_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx" linguist-vendored